.App {
  text-align: center;
}
body{
  background-color: black;
  height:1090px;

 
}
section{
  margin-top: 70px;
}
.card{
width:800px;
  padding:40px;
  margin-top:-40px;
}

.width{
  width:100%;

}
.title{
  text-align: center;
}
.col-lg-6{
  padding: 10px;
}
.gender{
  margin-left: 10px;
}
.btn{
  padding: 10px;
}



